<div class="repo">
    <h1>Repositories</h1>
    <div class="cards">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">repository name {{repos.name}} </h5>
              <h6 class="card-subtitle mb-2 text-muted">full name {{repos.full_name}} </h6>
              <p class="card-text">description {{repos.description}} </p>
              <a href="#" class="card-link">view in Github</a>
              <a href="#" class="card-link">live link</a>
            </div>
          </div>
    </div>
</div>
<app-profile-info></app-profile-info>