.repo{
    text-align: center;
}
.all{
    display: flex;
    flex-wrap: wrap;
    
}
.cards{
    
    border: 8px solid gray;
    margin: 10px;
    text-align: center;
    width: 30%;
    margin-left: 60px;
}