<ul class="nav nav-pills nav-fill">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#">GITHUB</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">PROFILE</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">REPOSITORIES</a>
    </li>
    <li class="nav-item">
      <!-- <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a> -->
    </li>
  </ul>
  <div class="welcome">
    <h1>GITHUB SEARCH</h1>
    <p> Welcome </p>
  </div>
  <div class="git">
   <form >
<div class="put">
    <input [(ngModel)]="gitHubUser" name="user" type="text" class="search" placeholder="enter user">
    <!-- (submit)="searchUser" -->
</div>
<div class="mit" >
    <input type="submit" value="search" class="btn btn-primary btn-sm">

</div>
   </form>
  </div>



<app-profile-data></app-profile-data>