.put{
text-align: center;

}
.studio{
    width: 20%;
    margin-left: 40%;
    
}
.code{
    margin: 10px;
}
.info{
    text-align: center;
}
.file{
    text-align: center;
    margin-left: 40%;
}
.people{
    padding: 60px;
}
.details{
    text-align: center;
}