<div class="info">
    <div class="personal">
        <h4>USER PROFILE</h4>
    </div>
    <div class="file">
        <div class="card" style="width: 18rem;">
            <img src="../../assets/girl.jpg" class="card-img-top pic" alt="...">
            <div class="card-body">
              <p class="card-text">Ngima-Muraguri</p>
            </div>
          </div>
    </div>
</div>
<div class="people">
  <h2 class="details">PROFILE DETAILS</h2>
  <div class="row">
    <div class="col">
      <img class="card-img-top" src="" alt="">
    </div>
    <div class="col">
      <h4 class="card-title" >Account name:</h4>
      <p class="card-text">username</p>
      <p class="card-text">userbio:</p>
      <p class="card-text">Created at:</p>
      <p class="card-text">Updated at:</p>
    </div>
    <div class="col">
      <p class="following">
        <span class="label label-primary">Public repos:</span>
        <span class="label label-primary">Public gists:</span>
        <span class="label label-primary">Followers:</span>
        <span class="label label-primary">Following:</span>
      </p>

    </div>
  </div>
</div>
<app-profile-data></app-profile-data>